@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Uchen&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$font-stack: 'PT Serif', serif, 'Uchen', serif, Garamond, serif;
body {
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: row;
  .left {
    display: flex;
    flex: 40%;
    max-width: 40vw;
    flex-direction: column;
    .image {
      display: flex;
      max-width: 40vw;
      width: 40vw;
      height: 100vh;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    flex: 60%;
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50vw;
      height: 30vh;
    }
    .form-container {
      width: 40vw;
      height: 40vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50vw;
      height: 30vh;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 15vh;
        margin-top: 10vhvh;
        gap: 4px;
      }
    }
  }
}
footer {
  display: flex;
  margin-top: auto;
  flex-direction: column;
  .footer-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
  }
}
